@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
html,
body,
#root,
.app,
.content {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro";
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--track-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--thumb-background);
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  background: var(--track-background);
}

.ps-sidebar-root {
  border: none !important;
}

.ps-menu-button:hover {
  background: transparent !important;
  color: #7759ff !important;
}

.ps-active {
  color: #7759ff !important;
  background: transparent !important;
}
